@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="display:flex;flex-direction:row;">
        <a class="btn btn-secondary" role="button" href='@Url.Action("Login","Account", new { id = "loginLink"})' style="margin-right:10px;border-radius:5px;background-color: #f8f8f8;color:gray;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">Login</a>
        <a class="btn btn-secondary" role="button" href='@Url.Action("Register","Account", new { id = "registerLink"})' style="border-radius:5px;background-color: #f8f8f8;color:gray;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">Registrar</a>
    </ul>
}

