@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="margin-top:10px;background-image:url('https://www.doofinder.com/en/blog/is-it-possible-to-sell-without-stock')">
    <div class="jumbotron" style="background-image:url('https://doofindermedia.s3.amazonaws.com/blog/2016/12/27/vender_por_internet_sin_stock.jpg');background-size:cover">
        <h1>Enzo-Estoque</h1>
        <p class="lead" style="color:snow">Enzo estoque é um serviço de controle de estoque.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Primeira vez</h2>
            <p>
                Se você ainda não possui uma conta cadastrada no sistema, se cadastre clicando nesse botão 
            </p>
            <p><a class="btn btn-secondary" role="button" href='@Url.Action("Register","Account", new { id = "registerLink"})'>Registrar</a></p>
        </div>
        <div class="col-md-4">
            <h2>Já possui um cadastro</h2>
            <p>Agora se já possui um cadastro ativo, apenas realize seu login no botão abaixo.</p>
            <p><a class="btn btn-secondary" role="button" href='@Url.Action("Login","Account", new { id = "loginLink"})'>Login</a></p>
        </div>
        <div class="col-md-4">
            <h2>Saiba mais</h2>
            <p>Se quiser ver mais sobre o projeto, você pode participar do projeto acessando por esse link abaixo.</p>
            <p><a class="btn btn-secondary" role="button" href="https://github.com/Kintuda/Sistema-de-estoque-CSharp">Participe do projeto&raquo;</a></p>
        </div>
    </div>
</div>